<a href="https://colab.research.google.com/github/abhishekghz/Abhishek-Gautam/blob/main/abhishek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Abhishek gautam
# Roll :- 2007477
# A1 group
# B.tech CSE

1.) print spaces in Python

In [24]:
print("Helloabhishek")

print("Hello"+" "+"Abhishek")

Helloabhishek
Hello Abhishek

2.) Printing different messages by using different variations of
print() method.

In [25]:

print("Hello")
print("Abhishek")

print("Hello")

print()

print("Hello",end=" ")

print("World")

Hello
Abhishek
Hello

Hello World

3.) Python program to print given text using a user-defined method

In [26]:

def fun():
	print("HELLO ABHISHEK")


fun()

HELLO ABHISHEK

4.) Printing different values (integer, float, string, Boolean).

In [27]:
print(12)

print(12.56)

print("Hello")
 
print(True)

12
12.56
Hello
True

5.) Declare different types of variables, print their values, types and
Ids.

In [28]:
print("Numbers")
a=10
print(type(a),id(a),a)
a=23.7


print("\nText")
a='h'
print(type(a),id(a),a)
a="hello"
print(type(a),id(a),a)

print("\nBoolean")
a=True
print(type(a),id(a),a)

print("\nFunction")
def fun1():
    return "I am Function"
a=fun1
print(type(a),id(a),a())

print("\nObjects")
class Demo:
    def hi(self):
        return "Hi"
a=Demo()
print(type(a),id(a),a.hi())

print("\nCollections")
a=[1,2,3]
print(type(a),id(a),a)

Numbers
<class 'int'> 94428886956832 10

Text
<class 'str'> 140142628729328 h
<class 'str'> 140142070710768 hello

Boolean
<class 'bool'> 94428886282496 True

Function
<class 'function'> 140142003905312 I am Function

Objects
<class '__main__.Demo'> 140142003432912 Hi

Collections
<class 'list'> 140142003804992 [1, 2, 3]

6.) Python program to demonstrate variables scope

In [29]:

age = 18					
salary = 5456.8			
	
name = "Abhishek"			
	
print(age)
print(salary)
print(name)

18
5456.8
Abhishek

7.) Determine the type of an object in Python

In [30]:
print(type('string'))

print(type(100))

print(type([0, 1, 2]))

<class 'str'>
<class 'int'>
<class 'list'>

8.) Create number variables (int, float and complex) and print their types
and values in Python

In [31]:

a = 50      
b = 40.23    
c = 50+8j   

print("type(a): ", type(a))
print("type(b): ", type(b))
print("type(c): ", type(c))

print("value of a: ", a)
print("value of b: ", b)
print("value of c: ", c)

type(a):  <class 'int'>
type(b):  <class 'float'>
type(c):  <class 'complex'>
value of a:  50
value of b:  40.23
value of c:  (50+8j)